<style>
    nav > ul {
        font-size: .5em;
        text-align: center;
    }
    nav > ul > li {
        display: inline;

    }
</style>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/profile/Brucker">Profil</a></li>
        <li><a href="/hello_world">Hello word</a></li>
        <li><a href="/bienvenue">Bienvenue</a></li>
        <li><a href="/tuut">Tuuuut</a></li>
        <li><a href="/gutenberg">Gutenberg</a></li>
        <li><a href="/n-importe-quoi">404</a></li>
    </ul>
</nav>