<style>
    nav {
        font-size: 0.2em;
    }
    nav a{
        color: white;
    }
    nav a:hover{
        color: cornflowerblue;
    }
</style>

<div class="container d-flex">
    <nav class="navbar navbar-expand mx-auto justify-content-space-around">
        <a href="/" class="navbar-brand">Home</a>
        <a href="/contact" class="navbar-brand">Contact</a>
        <a href="/profile/Brucker" class="navbar-brand">Profil</a>
        <a href="/hello_world" class="navbar-brand">Hello word</a>
        <a href="/bienvenue" class="navbar-brand">Bienvenue</a>
        <a href="/tuut" class="navbar-brand">Tuuuut</a>
        <a href="/gutenberg" class="navbar-brand">Gutenberg</a>
        <a href="/n-importe-quoi" class="navbar-brand">404</a>
    </nav>
</div>