<html>
<head>
    <meta charset="utf-8" />
    <title>Contact</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous"/>

    <style>
        html, body {
            margin:0;
            padding:0;

            background: skyblue;
            color: #FFFFFF;
            text-align: center;
        }

        img {
            display: block;
            width: 452px;
            height: 600px;
            margin: auto;
        }
    </style>
</head>
<body>
<%- include ('partials/nav.ejs') %>
<h1>Contact</h1>

<img src="/static/contact-us.png" />
</body>
</html>