<html>
<head>
    <meta charset="utf-8" />
    <title>Contact</title>

    <style>
        html, body {
            margin:0;
            padding:0;

            background: skyblue;
            color: #FFFFFF;
            font-size: 2em;
            text-align: center;
        }

        img {
            display: block;
            width: 452px;
            height: 600px;
            margin: auto;
        }
    </style>
</head>
<body>
<%- include ('partials/nav.ejs') %>
<h1>Contact</h1>

<img src="/static/contact-us.png" />
</body>
</html>