<!doctype html>
<html>
<head>
    <title>Maison page</title>
    <meta charset="utf-8" />

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

    <style>
        html, body {
            margin:0;
            padding:0;

            background: skyblue;
            color: #FFFFFF;
        }
        p {
            font-family: 'Indie Flower', cursive;
            font-size: 1.3;
        }
        h1{
            font-size: 2em;
        }
        h2 {
            font-size: 1.5em;
        }
        article{
            margin-left: 20%;
            margin-right: 20%;
        }
        li{
            list-style-type: none;
            margin-bottom: 5px;
        }
    </style>
</head>
    <body class="container align-content-center">

    <%- include ('partials/nav.ejs') %>
    <div class="text-center">
        <h1>Enfin du web !</h1>
        <p>Et on aime ça.</p>

        <p>
        <h2>à la fin du cous devriez avoir les url suivantes </h2>
    </div>

        <article class="list-group d-flex">
            <ul class="justify-content-space-around">
                <li><a href="/hello_world" class="list-group-item list-group-item-action">Hello word en "Text/Plain"</a></li>
                <li><a href="/profile/MrBrucker" class="list-group-item list-group-item-action">Page de profil</a></li>
                <li><a href="/contact" class="list-group-item list-group-item-action">Page contact en HTML</a></li>
                <li><a href="/bienvenue" class="list-group-item list-group-item-action">Bienvenue en HTML </a></li>
                <li><a href="/tuut" class="list-group-item list-group-item-action">Tuuuut sur la console</a></li>
                <li><a href="/gutenberg" class="list-group-item list-group-item-action">votre livre du projet gutenberg</a></li>
                <li><a href="/n-importe-quoi" class="list-group-item list-group-item-action">une erreur 404</a></li>
            </ul>
        </article>
        </p>
    </body>
</html>

