<html>
<head>
    <meta charset="utf-8" />
    <title>Profil</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

    <style>
        html, body {
            margin:0;
            padding:0;

            background: skyblue;
            color: #FFFFFF;
        }
        div{
            text-align: center;
        }
    </style>
</head>
<body>
<%- include ('partials/nav.ejs') %>
<div>
    <h1>Bonjour <%= personne%></h1>
    <p>essaye de changer l'url ;)</p>
</div>

</body>
</html>