<html>
<head>
    <meta charset="utf-8" />
    <title>404</title>

    <style>
        html, body {
            margin:0;
            padding:0;

            background: skyblue;
            color: #FFFFFF;
            font-size: 2em;
            text-align: center;
        }
    </style>
</head>
<body>
<%- include ('partials/nav.ejs') %>
<h1>Bonjour <%= personne%></h1>

</body>
</html>